.container-fluid
  .landing
    .jumbotron
      .landing-text
        %h1#title edge
        %h3 An online learning community















    .landing-footer
      Coded by Ashlynn Pai, Photo by Rob 124, CC by 2.0