%section.container
  %h3 Latest Courses Added
  .row      
    - @courses.show_latest_courses.each do |course|
      .col-sm-3    
        %h3= course.name
        - if current_user
          %h5= link_to 'I completed this course', add_completed_course_path, method: :post, class: 'btn btn-success'
