%section.add_course.container
  .row
    %h2 Add a New Course
    .row
      .col-md-8
        .form-group
          = bootstrap_form_for @course do |f|
            = f.text_field :name, label: "Name of Course"
            = f.text_field :institution, label: "Course institution"
            %input(type="submit" value="Add Course" class="btn btn-success")