%section.show_course.container
  %h2= @course.name
  %h4= @course.provider
  - if current_user
    %h5= link_to 'I completed this course', add_course_status_path(course_id: @course, :status => 'completed'), method: :post, class: 'btn btn-success'
    %h5= link_to 'I am currently on this course', add_course_status_path(course_id: @course, :status => 'current'), method: :post, class: 'btn btn-success'
